@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.imgContainer{
    height: 500;
    overflow: hidden;

    &img{
        transform-origin: center center;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}