@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

body{
    background-image: url(./assets/Yuji.png);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 1rem;
    height: 14rem;
    width: 30rem;
    background-color: rgba(255, 255, 255, 0.548);
}

.container h4{
    margin: 1rem;
    padding: 4px;
    text-align: center;
    letter-spacing: 1.4px;
}

.time-btn{
    height: 8rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.timer{
    font-size:x-large;
}

.buttons button{
    border: 0;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
}

.buttons button:active{
    color: rgb(68, 0, 255);
    background-color:red;
}

