  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: black;
}

body{
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    text-align: center;
    min-width: 100vh;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.wrapper{
    height: 40rem;
    width: 30rem;
    padding: 4rem;
    gap: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.wrapper header{
    background-color: black;
    border: white 1px solid;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem;
}

.container{
    width: 30rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.726);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-area{
    min-height: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}
.quote{
    font-size: 1.2rem;
    line-height: 1.4;
}

.author{
    font-size: 1rem;
    color: red;
    text-transform: uppercase;
    letter-spacing: 0.rem;
    text-align: center;
}

.container button{
    padding: 0.5rem;
    border-radius: 5px;
    background-color:black;
    color:white;
}

.container button:active{
    background: teal;
}




