@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .count{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: steelblue;
    
  }
}

.active{
  animation: scaleUpDown 1s linear infinite;
}

.ready{
  text-transform: uppercase;
}

@keyframes scaleUpDown {
  0% {
    transform:scale(0);
  }

  30% {
    transform:scale(1.4);
  }

  100% {
    transform:scale(1);
  }
  
}

button{
  padding: .5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: slateblue;

  &:hover{
    background-color: pink;
  }
  &:active{
    border: 2px dotted black;
    background-color: slateblue;
  }
}